*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  align-items: end;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  width: 1140px;
  gap: 30px;
}

.result {
  grid-area: result;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 15px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 3px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 10px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 4px;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  min-width: 225px;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: white;
  border-bottom-color: white;
  appearance: none;
  line-height: 22px;
  appearance: none;
  color: white;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__label:hover {
  cursor: pointer
}

.search-form__checkbox-list {
  display: flex;
  gap: 9px;
  padding-bottom: 5px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  height: 15px;
  width: 15px;
  background-color: white;
  position: absolute;
}


.content__list-container {
  position: relative;
  max-height: 298px;
  overflow-y: auto;
}

.content__list-item:not(:last-child){
  margin-bottom: 32px;
  margin-left: 2px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  margin-right: 2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 100px;
  padding-right: 3px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 29px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 195px;
  padding-bottom: 3px;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 75px;
  line-height: 69.9px;
  padding-top: 7.5px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.button {
  border: 1px solid currentColor;
  color:white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  height: 34px;
  min-width: 194px;
  cursor: pointer;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
}

.more-button {
  width: 390px;
  margin-top: 30px;
}
